{% extends "Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'error' | trans }}{% endblock %}

{% block maincontent %}
    {% if code == 500 or code == 403 %}
        {% set style = 'error' %}
    {% else %}
        {% set style = 'warning' %}
    {% endif %}

    <div class="alert alert-{{ style }}">
      <a class="close" data-dismiss="alert">×</a>
      {{ 'error' | trans }} {{ code }}: {{ message | trans }}
    </div>
{% endblock %}