{% extends "Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'admin' | trans }}{% endblock %}

{% block maincontent %}
    <h1>{{ 'registered_users' | trans }}</h1>
    <table class="table table-striped table-condensed">
        <thead>
            <td>{{ 'email' | trans }}</td>
            <td>{{ 'evaluated_days' | trans }}</td>
            <td>{{ 'avg_karma' | trans }}</td>
            <td>{{ 'is_admin' | trans }}</td>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user['email'] }}</td>
                <td>{{ user['evaluated_days'] }}</td>
                <td>{{ twig_round(user['karma'], user['evaluated_days'], 2) }}</td>
                <td>{% if user['admin'] == 1 %}Admin{% else %}~{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>{{ 'last_30_days' | trans }}</h1>
    <table class="table table-striped table-condensed">
        <thead>
            <td>{{ 'day' | trans }}</td>
            <td>{{ 'avg_karma' | trans }}</td>
            <td>{{ 'participants' | trans }}</td>
            <td>{{ 'participants_list' | trans }}</td>
        </thead>
        <tbody>
        {% for day in days %}
            <tr>
                <td>{{ day['day'] }}</td>
                <td>{{ twig_round(day['karma'], day['participants']|length, 2) }}</td>
                <td>{{ day['participants'] | length }}</td>
                <td>
                    <small>
                        {% for participant in day['participants'] %}
                            {{ participant }}&nbsp;
                        {% endfor %}
                    </small>
                </td>
            </tr>
        {% else %}
            {{ 'no_days_yet' | trans }}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}