{% extends "Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'home' | trans }}{% endblock %}

{% block maincontent %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit" style="padding:0;">
        <div id="chart_div" style="width: 1170px; height: 216px;"></div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>{{ 'share_your_feelings' | trans }}</h2>
            <p>{{ 'share_your_feelings_desc' | trans | raw }}</p>
        </div>
        <div class="span4">
            <h2>{{ 'be_listened' | trans }}</h2>
            <p>{{ 'be_listened_desc' | trans | raw }}</p>
        </div>
        <div class="span4">
            <h2>{{ 'manage_your_employees_happiness' | trans }}</h2>
            <p>{{ 'manage_your_employees_happiness_desc' | trans | raw}}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()  }}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Days');
            data.addColumn('number', 'Karma');
            data.addRows([
                {% for day in days %}
                    ['{{ day['day']}}', {{ round(day['karma']/day['participants']|length, 2) }}],
                {% else %}
                    ['0', 0]
                {% endfor %}
            ]);

            var options = {
              title: 'Daily Karma for last 30 days',
              hAxis: {title: 'Days',  titleTextStyle: {color: 'grey'}}
            };

            var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
            chart.draw(data, options);
          }
        </script>
{% endblock %}