{% extends "Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'home' | trans }}{% endblock %}

{% block maincontent %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div style="padding:0;">
        <h2 style="text-align: center;">{{ 'karma_for_last_30_days' | trans }}</h2>
        <div id="global_chart" style="width: 1170px; height: 216px;">{% if days | length == 0 %}{{ 'not_enough_data' | trans }}{% endif %}</div>
    </div>
    <hr>
    <!-- Example row of columns -->
    <div class="row">
        <div class="span6">
            <h2 style="text-align: center;">{{ 'yesterday_rating' | trans }}</h2>
            <p id="yesterday_chart">{% if repartition | length == 0 %}{{ 'not_enough_data' | trans }}{% endif %}</p>
        </div>
        <div class="span6">
            <h2 style="text-align: center;">{{ 'some_stats' | trans }}</h2>
            <p>
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td>{{ 'user_best_karma' | trans }}</td>
                            <td>{{ user_best_karma['email'] }} ~ {% if user_best_karma['evaluated_days'] != 0 %}{{ round(user_best_karma['karma']/user_best_karma['evaluated_days'],2) }}{% else %}0{% endif %} karma</td>
                        </tr>
                        <tr>
                            <td>{{ 'avg_karma_users' | trans }}</td>
                            <td>{{ avg_karma_users }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'avg_last_days_karma' | trans }}</td>
                            <td>{{ avg_last_days_karma }} karma</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent()  }}

    {% if days | length > 0 %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
          google.load("visualization", "1", {packages:["corechart"]});
          google.setOnLoadCallback(drawChart);
          function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Days');
            data.addColumn('number', 'Karma');
            data.addRows([
                {% for day in days %}
                    ['{{ day['day']}}', {{ round(day['karma']/day['participants']|length, 2) }}],
                {% else %}
                    ['0', 0]
                {% endfor %}
            ]);

            var options = {
                width: 1170,
                height: 216,
            };

            var chart = new google.visualization.AreaChart(document.getElementById('global_chart'));
            chart.draw(data, options);
          }
        </script>
    {% endif %}

    {% if repartition | length > 0 %}
        <script type="text/javascript">
              google.load("visualization", "1", {packages:["corechart"]});
              google.setOnLoadCallback(drawChart);
              function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Karma');
                data.addColumn('number', 'Nb ratigs');
                data.addRows([
                    {% for data in repartition %}
                        {% set kr = 'rating_' ~ data['karma'] %}
                        ['{{ kr | trans }}', {{ data['count'] }}],
                    {% endfor %}
                ]);

                var options = {
                    height: 250,
                };

                var chart = new google.visualization.PieChart(document.getElementById('yesterday_chart'));
                chart.draw(data, options);
              }
        </script>
    {% endif %}
{% endblock %}