{% extends "Default/layout.html.twig" %}

{% block title %}{{ parent() }} - {{ 'login' | trans }}{% endblock %}

{% block maincontent %}
    <form method="POST" class="well">
        <input type="text" name="_email" class="span3" placeholder="{{ 'email' | trans }}" />
        <input type="password" name="_password" class="span3" placeholder="{{ 'password' | trans }}" />

        {% if app.request.get('redirect') is defined %}
            <input type="hidden" name="_redirect" value="{{ app.request.get('redirect') }}" />
        {% endif %}

        <input type="submit" value="{{ 'send' | trans }}" class="btn" />
    </form>
{% endblock %}
